@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --nextui-spacing-unit-10: 48px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    font-size: 8px;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    min-height: 100svh;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

body > div {
    flex: 1 1 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1rem;
}

p > a {
    text-decoration: underline;
}

p > a:hover {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}

.layout {
    font-family: system-ui, sans-serif, serif, Arial;
    font-weight: 400;
    font-size: 1.5ch;
}

@media screen and (min-width: 768px) {
    .layout {
        font-size: 1.75ch;
    }
}

@media screen and (min-width: 1024px) {
    .layout {
        font-size: 2ch;
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
