.header {
    justify-content: center;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
    height: 6rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.header header {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-item-container {
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: 100%;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
